<div>
<div>
  <p>
    <strong><%= purchase.name %></strong>
  </p>

  <p>
    <span><%= purchase.created_at.strftime('%d %b %Y') %></span>
  </p>
</div>
  
  <p>
    $<%= purchase.amount %>
  </p>

</div>
