<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <% if user_signed_in? %>
        <div class="mt-4">
          <a href="<%= categories_path %>" class="btn btn-primary btn-lg">Let's start</a>
        </div>
      <% else %>
        <div class="container d-flex flex-column justify-content-between h-75">
    <h1 class="text-center display-4 font-weight-bold mt-5">Budget Monitoring</h1>
    <div class="mt-5 d-flex flex-column text-center align-items-center gap-4">
        <%= link_to "LOG IN", categories_path, class: 'btn btn-primary w-100' %>
        <%= link_to "SIGN UP", new_user_registration_path, class: 'btn btn-secondary w-100' %>
    </div>
</div>

      <% end %>
    </div>
  </div>
</div>
