<div>
   <div>
  <% if category.icon.present? %>
    <% if category.icon.end_with?('.png', '.jpg', '.jpeg') %>
      <%= image_tag category.icon, alt: category.name %>
    <% else %>
      <p>Unsupported image format</p>
    <% end %>
  <% end %>
</div>

  <div>
    <div>
    <p>
      <strong><%= category.name %></strong>
    </p>
    <p>
      <strong>Total: $<%= category.purchases.sum(:amount) %></strong>
    </p>
    </div>
    
    <p>
    <span><%= category.created_at.strftime('%d %b %Y') %></span>
    </p>
  </div>
</div>
